<div class="container mt-5">
  <div class="alert alert-danger">
    <h1>Error {{error.status}}</h1>
    <p>{{error.message}}</p>
    {{#if error.stack}}
      <pre class="bg-light p-3">{{error.stack}}</pre>
    {{/if}}
    <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>
  </div>
</div>